<%- include('../shared/header'); -%>

<div class="text-end">
    <a href="/agregar_producto" class="btn btn-primary">Agregar producto</a>
</div>

<div class="row">
    <h1>Listado de productos</h1>
    <hr>
    <div id="ProductsMainList"></div>
</div>


<script src="/client_main.js"></script>
<%- include('../shared/footer'); -%>