<%- include('../shared/header'); -%>

  <div class="text-end">
    <button id="CrearCarrito" class="btn btn-primary">Crear Carrito</button>
  </div>

  <div class="row">
    <h1>Mi carrito</h1>
    <hr>

    <div id="MiCarrito"></div>

    <script src="/client_mi_carrito.js"></script>

    <%- include('../shared/footer'); -%>